<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>servlet.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirServlet</servlet-name>
        <servlet-class>servlet.admin.AnadirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlet.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoServlet</servlet-name>
        <servlet-class>servlet.CarritoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSessionServlet</servlet-name>
        <servlet-class>servlet.CerrarSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsolasServlet</servlet-name>
        <servlet-class>servlet.ConsolasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JuegosServlet</servlet-name>
        <servlet-class>servlet.JuegosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductosServlet</servlet-name>
        <servlet-class>servlet.ProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>servlet.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarServlet</servlet-name>
        <servlet-class>servlet.admin.EliminarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarServlet</servlet-name>
        <servlet-class>servlet.admin.ModificarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/InicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirServlet</servlet-name>
        <url-pattern>/AnadirServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoServlet</servlet-name>
        <url-pattern>/CarritoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSessionServlet</servlet-name>
        <url-pattern>/CerrarSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsolasServlet</servlet-name>
        <url-pattern>/ConsolasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JuegosServlet</servlet-name>
        <url-pattern>/JuegosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductosServlet</servlet-name>
        <url-pattern>/ProductosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarServlet</servlet-name>
        <url-pattern>/EliminarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarServlet</servlet-name>
        <url-pattern>/ModificarServlet</url-pattern>
    </servlet-mapping>
</web-app>
